set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.DeviceDiagnostics")

if(PLUGIN_DEVICEDIAGNOSTICS_STARTUPORDER)
set (startuporder ${PLUGIN_DEVICEDIAGNOSTICS_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_DEVICEDIAGNOSTICS_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()
ans(configuration)
